<a href="https://colab.research.google.com/github/juandapradam12/Bayesian-Parameter-Estimation-For-Radial-Velocity-Model/blob/master/03_solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome

![](https://socialdatascience.network/courses/poster/r.png)

**Welcome to the Intro to R Programming Workshop!**

This is the solutions notebook. Only check this out if you want to see the solutions to the exercises!

For Part I click [here](https://colab.research.google.com/drive/1dLsdGbkvgn1JbWgsy9Z-pFmPd_2MG4Xu?usp=sharing)

For Part II click [here](https://colab.research.google.com/drive/14CRElnKewnp5MnlxhqVu6OOcIXd-Bkaj?usp=sharing).

Link to Slides: https://favstats.github.io/ds3_r_intro/

# Exercises I

The following includes a list of exercises that you can complete on your own.

## Task 1

Take a look at the table below. 

Pick three animals from the Animal Lifespan data we haven't talked about yet. 

Assign the lifespan values to respective objects with appropriate names.

| Animal | Maximum Longevity (in years)|
| --- | --- | 
| Human | 122.5.5 | 
| Domestic dog | 24.0 | 
| Domestic cat | 30.0 | 
| American alligator | 77.0 | 
| Golden hamster | 3.9 | 
| King penguin | 26.0 | 
| Lion|	27.0 | 
| Greenland shark	 | 392.0 | 
| Galapagos tortoise | 177.0 | 
| African bush elephant	 | 65.0 | 
| California sea lion	| 35.7	 | 
| Fruit fly		| 0.3	 | 
| House mouse		| 4.0	 |
| Giraffe		| 39.5	 |
| Wild boar		| 27.0	|

In [ ]:
giraffe_lifespan <- 29.5

In [ ]:
penguin_lifespan <- 26

In [ ]:
elephant_lifespan <- 65

## Task 2

Create three (different) logical tests which compare the maximum longevity between your chosen animal lifespans.

Does the output you get make sense?

In [ ]:
giraffe_lifespan == penguin_lifespan

In [ ]:
giraffe_lifespan > penguin_lifespan

In [ ]:
elephant_lifespan != penguin_lifespan

## Task 3

Create two vectors with the help of `c()`: 

1.  strings (i.e. texts) of all the animals you chose
2.  the respective lifespan values (in the same order)

In [ ]:
theanimals <- c("giraffe", "penguin", "elephant")

In [ ]:
lifespans <- c(giraffe_lifespan, penguin_lifespan, elephant_lifespan)

## Task 4

Calculate the mean of your lifespan vector.

In [ ]:
mean(lifespans)

## Task 5

5.1 Retrieve the *second* value of the vector that contains your animal names.

> Tip: Square brackets are your friend.

In [ ]:
theanimals[2]


5.2 Using code, find out which animals in your lifespans vector have a maximum longevity of above 25.

> Tip: For an elegant solution you need to use *both* vectors, square brackets and a logical test. If you need help revisit [Indexing with logical tests](https://colab.research.google.com/drive/1dLsdGbkvgn1JbWgsy9Z-pFmPd_2MG4Xu#scrollTo=5cAxOXBv8KZ6)

In [ ]:
theanimals[lifespans > 25]

## Task 6

Calculate the animal to human conversion ratios for the animals you've picked and assign the results to an object.

In [ ]:
conversions <- 122.5/lifespans

## Task 7

Calculate the human years for your picked animals and assume they are all 5 years old.

In [ ]:
conversions*5

ERROR: ignored

## Task 8

Pick one of the animals you chose and create a function which takes as input animal years and outputs human years. Test the function and validate with results from the seventh exercise.

You can name the function in this style: 

`[you_animal_name]_to_human_years`

> Tip: If you need help revisit the section [Dog to Human years function](https://colab.research.google.com/drive/1dLsdGbkvgn1JbWgsy9Z-pFmPd_2MG4Xu#scrollTo=wOvZ0HEWjaHQ&line=3&uniqifier=1)

Create the function here:

In [ ]:
penguin_to_human_years <- function(animal_years, human_lifespan = 122.5, penguin_lifespan = 26){

  ratio <- human_lifespan/penguin_lifespan

  human_years <- animal_years*ratio

  return(human_years)
}

Try it out here:

In [ ]:
penguin_to_human_years(5)

# Exercises II

The following includes a list of exercises that you can complete on your own. 

We are going to use the `palmerpenguins` dataset for the tasks ahead!



![](https://github.com/allisonhorst/palmerpenguins/raw/master/man/figures/lter_penguins.png)

![](https://github.com/allisonhorst/palmerpenguins/raw/master/man/figures/culmen_depth.png)

## Functions reference list

For reference, here is a list of some useful  functions.

If you have trouble with any of these functions, try reading the documentation with `?function_name`

Remember: all these functions take the **data** first.

* `filter()`

  * Subset rows using column values

* `mutate()`

  * Create and modify delete columns

* `rename()`

  * Rename columns

* `select()`

  * Subset columns using their names and types

* `summarise()`; `summarize()`

  * Summarise each group to fewer rows

* `group_by()`; `ungroup()`

  * Group by one or more variables

* `arrange()`

  * Arrange rows by column values

* `count()`; `tally()` 

  * Count observations by group

* `distinct()`

  * Subset distinct/unique rows

* `pull()`

  * Extract a single column

* `ifelse()`

  * useful for coding of binary variables

* `case_when()`

  * useful for recoding (when `ifelse` is not enough)

* `separate()`

  * separate two variables by some separator

* `pivot_wider()`

  * turn data into wide format

* `pivot_longer()`

  * turn data into long format

## Task 1

Load the `tidyverse` and `janitor` packages.

If `janitor` is not installed yet (it will say `janitor` not found) install it.

In [ ]:
library(tidyverse)
library(janitor)

## Task 2

Read in the already cleaned `palmerpenguins` dataset using 

* `read_csv`
* the following url: https://raw.githubusercontent.com/allisonhorst/palmerpenguins/master/inst/extdata/penguins.csv

Assign the resulting data to `penguins`.

Then take a look a look at it using `glimpse`. 

What kind of variables can you recognize?

In [ ]:
penguins <- read_csv("https://raw.githubusercontent.com/allisonhorst/palmerpenguins/master/inst/extdata/penguins.csv")

In [ ]:
glimpse(penguins)

## Task 3

Only keep the variables: `species`, `island` and `sex`.

In [ ]:
select(penguins, species, island, sex)

In [ ]:
penguins %>%
   select(species, island, sex)

Only keep variables 2 to 4.

In [ ]:
select(penguins, 2:4)

In [ ]:
penguins %>%
   select(2:4)

Remove the column `year`.

In [ ]:
select(penguins, -year)

In [ ]:
penguins %>%
   select(-year)

Only include columns that contain "mm" in the variable name.

In [ ]:
select(penguins, contains("mm"))

In [ ]:
penguins %>%
   select(contains("mm"))

## Task 4

Rename `island` to `location`.

In [ ]:
select(penguins, location = island)

In [ ]:
penguins %>%
   rename(location = island)

## Task 5

Filter the data so that `species` only includes `Chinstrap`.

In [ ]:
filter(penguins, species == "Chinstrap")

In [ ]:
penguins %>%
   filter(species == "Chinstrap")

Filter the data so that `species` only includes `Chinstrap` or `Gentoo`.

In [ ]:
filter(penguins, species %in% c("Chinstrap", "Gentoo"))

In [ ]:
penguins %>%
   filter(species %in% c("Chinstrap", "Gentoo"))

Filter the data so it includes only penguins that are `male` *and* of the species `Adelie`.

In [ ]:
filter(penguins, sex == "male" & species == "Adelie")

In [ ]:
penguins %>%
   filter(sex == "male" & species == "Adelie")

## Task 6

Create three new variables that calculates `bill_length_mm` and `bill_depth_mm` and `flipper_length_mm` from milimeter to centimeter.
  
Tip: divide the length value by 10.

In [ ]:
mutate(penguins, 
      bill_length_cm = bill_length_mm/10,
      bill_depth_cm = bill_depth_mm/10,
      flipper_length_cm = flipper_length_mm/10
)

In [ ]:
penguins %>%
   mutate(bill_length_cm = bill_length_mm/10,
          bill_depth_cm = bill_depth_mm/10,
          flipper_length_cm = flipper_length_mm/10)

Create a new variable called `bill_depth_cat` which has two values:

* Everything above a bill depth of 18mm and 18mm itself is "high"
* Everything below a bill depth of 18mm is "low"

In [ ]:
mutate(penguins, bill_depth_cat = ifelse(bill_depth_mm >= 18, "high", "low"))

In [ ]:
penguins %>%
   mutate(bill_depth_cat = ifelse(bill_depth_mm >= 18, "high", "low"))

Create a new variable called `species_short`.

* `Adelie` should become `A`
* `Chinstrap` should become `C`
* `Gentoo` should become `G`

In [ ]:
mutate(penguins, 
        island_short = case_when(
          species == "Adelie"  ~ "A",
          species == "Chinstrap"  ~ "C",
          species == "Gentoo"  ~ "G",
        ))

In [ ]:
penguins %>% 
  mutate(island_short = case_when(
          species == "Adelie"  ~ "A",
          species == "Chinstrap"  ~ "C",
          species == "Gentoo"  ~ "G",
      ))

## Task 7

Calculate the average `body_mass_g` per `island`.

In [ ]:
grouped_by_island <- group_by(penguins, island) 

summarise(grouped_by_island, avg_body_mass_g = mean(body_mass_g, na.rm = T))

If you haven't done so already, try using the `%>%` operator to do this.

In [ ]:
penguins %>% 
   group_by(island) %>%
   summarise(avg_body_mass_g = mean(body_mass_g, na.rm = T))

## Task 8

Use the pipe operator (`%>%`) to do all the operations below.



1. Filter the `penguins` data so that it only includes `Chinstrap` or `Adelie`.
2. Rename `sex` to `observed_sex`
3. Only keep the variables `species`, `observed_sex`, `bill_length_mm` and `bill_depth_mm`
4. Calculate the ratio between `bill_length_mm` and `bill_depth_mm`
5. Sort the data by the highest ratio

Try to create the pipe step by step and execute code as you go to see if it works.

Once you are done, assign the data to `new_penguins`.

In [ ]:
penguins %>% 
   filter(species %in% c("Chinstrap", "Adelie")) %>%
   rename(observed_sex = sex) %>%
   select(species, observed_sex, bill_length_mm, bill_depth_mm) %>%
   mutate(ratio = bill_length_mm/bill_depth_mm) %>%
   arrange(desc(ratio))

Calculate the average ratio by `species` and `sex`, again using pipes.

In [ ]:
penguins %>% 
   group_by(island, sex) %>%
   summarise(avg_body_mass_g = mean(body_mass_g, na.rm = T))

## Task 9

Count the number of penguins by island and species.

In [ ]:
penguins %>%
  count(island, species)

## Task 10

Below is a dataset that needs some cleaning.

Use the skills that you have learned so far to turn the data into a tidy dataset.

In [ ]:
animal_friends <- tibble(
  Names = c("Francis", "Catniss", "Theodor", "Eugenia"),
  TheAnimals = c("Dog", "Cat", "Hamster", "Rabbit"),
  Sex = c("m", "f", "m", "f"),
  a_opterr = c("me", "me", "me", "me"),
  `Age/Adopted/Condition` = c("8/2020/Very Good", "13/2019/Wild", "1/2021/Fair", "2/2020/Good")    
)

Start here:

In [ ]:
tidy_animal_friends <- animal_friends %>%
  ## first clean the names
  clean_names() %>%
  ## rename some variables
  rename(adopter = a_opterr,
         animals = the_animals) %>%
  remove_constant() %>%
  separate(age_adopted_condition, sep = "/", c("age", "year_adopted", "condition"))

In [ ]:
tidy_animal_friends

  names   animals sex age year_adopted condition
1 Francis Dog     m   8   2020         Very Good
2 Catniss Cat     f   13  2019         Wild
3 Theodor Hamster m   1   2021         Fair
4 Eugenia Rabbit  f   2   2020         Good

If you are done, turn the final data into long format.

In [ ]:
tidy_animal_friends %>%
  pivot_longer(cols = c(sex, age, year_adopted, condition))

   names   animals name         value
1  Francis Dog     sex          m
2  Francis Dog     age          8
3  Francis Dog     year_adopted 2020
4  Francis Dog     condition    Very Good
5  Catniss Cat     sex          f
6  Catniss Cat     age          13
7  Catniss Cat     year_adopted 2019
8  Catniss Cat     condition    Wild
9  Theodor Hamster sex          m
10 Theodor Hamster age          1
11 Theodor Hamster year_adopted 2021
12 Theodor Hamster condition    Fair
13 Eugenia Rabbit  sex          f
14 Eugenia Rabbit  age          2
15 Eugenia Rabbit  year_adopted 2020
16 Eugenia Rabbit  condition    Good

# If else statements


Sometimes we want to make output dependent on the input. 

This allows us to create very powerful and dynamic functions that can take multiple kinds of inputs and turn them into multiple kinds of outputs.

We do this using **`if`** and **`else`** statements within our function calls.

By using the following template:

$\text{if}(\color{orange}{\text{condition1}})${


> $\color{grey}{\text{# if }}$ $\color{orange}{\text{condition1}}$ $\color{grey}{\text{is TRUE}}$

> $\color{green}{\text{code}}$

> $\color{green}{\text{...}}$


} $\text{else if}(\color{blue}{\text{condition2}})${

> $\color{grey}{\text{# if }}$ $\color{blue}{\text{condition2}}$ $\color{grey}{\text{is TRUE}}$

> $\color{green}{\text{code}}$

> $\color{green}{\text{...}}$


} $\text{else}${

> $\color{grey}{\text{# if all conditions above are FALSE}}$

> $\color{green}{\text{code}}$

> $\color{green}{\text{...}}$

}

## Example 


Here is an example:

In [ ]:
greet_me <- function(language = "english") { 
  
  if(language == "english"){

    # if language is english
    greeting <- "Hi!"

  } else if (language == "german"){

    # if language is german
    greeting <- "Hallo!"

  } else if (language == "texan"){

    # if language is texan
    greeting <- "Howdy!"

  } else if (language == "dothraki"){

    # if language is dothraki
    greeting <- "M'ath!"

  } else {

    # if not known (all evalulate to false)
    greeting <- "Sorry, I don't know how to greet you."

  }

  return(cat(greeting))
  
}

In [ ]:
greet_me(language = "spanish")

Sorry, I don't know how to greet you.

## Dynamic Animal to Human Years Function

Now we can create a *generic* function that takes any kind of animal and caclulates its years in human years.

We need two arguments:

* `animal_years` is the input for how old the anima lis
* `animal` specifies which kind of animal we are talking about

Now we are ready to go:

In [ ]:
animal_to_human_years <- function(animal_years, animal){
  
  human_lifespan <- 122.5

  if(animal == "dog"){

    animal_lifespan <- 24
    
  } else {

    return(cat("Sorry your animal is not implemented yet!"))

  }

  ratio <-  human_lifespan / animal_lifespan    

  result <- animal_years*ratio

  return(result)
}

In [ ]:
animal_to_human_years(15, "fish")

Sorry your animal is not implemented yet!